/* Manually add imports here. */
@import url("chart--world-bank-indices.css");

/* Optional '.charts' container */
.charts {
    text-align: center;
}

.chart-container {
    display: inline-block;
    text-align: left;
    border: 1px solid #c0c0c0;
}

.chart-container > svg {
    width: 300px;
    height: 200px;
}

@media (min-width: 480px) {
    .chart-container > svg {
        width: 400px;
        height: 267px;
    }
}

@media (min-width: 600px) {
    .chart-container > svg {
        width: 500px;
        height: 333px;
    }
}

@media (min-width: 800px) {
    .chart-container > svg {
        width: 600px;
        height: 400px;
    }
}

@media (min-width: 1280px) {
    .chart-container > svg {
        width: 750px;
        height: 500px;
    }
}


.chart-container > form,
.chart-container > svg {
    padding: 1em;
}

.chart-container > form legend {
    padding-bottom: 0.5em;
}

.chart-container hr {
    border: none;
    border-bottom: 1px solid #c0c0c0;
    margin: 0 1em;
}



