/* Manually add imports here. */
@import url("chart--world-bank-indices.css");


/* Breakpoint hinting mechanism. */
#breakpointHint {
  display: none;
}


/* Optional '.charts' container */
.charts {
    text-align: center;
}

.chart-container {
    display: inline-block;
    border: 1px solid #c0c0c0;
}

.chart-container .chart-controls {
    text-align: left;
}

/* Tall and thin */
.chart-container .chart {
    width: 320px;
    height: 500px;
}

@media (min-width: 480px) {

    /* Breakpoint hinting mechanism. */
    #breakpointHint {
      width: 480px;
    }

    .chart-container .chart {
        width: 420px;
    }
}

@media (min-width: 768px) {

    /* Breakpoint hinting mechanism. */
    #breakpointHint {
      width: 768px;
    }

    .chart-container .chart {
        width: 700px;
    }
}

/* Aspect ration 3:2 */
@media (min-width: 1024px) {

    /* Breakpoint hinting mechanism. */
    #breakpointHint {
      width: 1024px;
    }

    .chart-container .chart {
        width: 900px;
    }
}


.chart-container > form,
.chart-container > figure {
    padding: 1em;
}
.chart-container > form {
    padding-bottom: 0.5em;
}

.chart-container hr {
    border: none;
    border-bottom: 1px solid #c0c0c0;
    margin: 0 1em;
}

.chart-container fieldset > legend {
    padding-bottom: 1.5em;
}

.chart-container fieldset > .control-group {
    padding-bottom: 1em;
}

.chart-container fieldset > .control-group:last-child {
    padding-bottom: 0;
}

.chart-container .control-group .control {
    display: inline-block;
    margin-left: 1.2em;
    margin-bottom: 1em;
}

.chart-container .control-group .control input {
    margin-bottom: 1em;
}

.chart-container .control-group .control label {
    margin-right: 0.4em;
}

.axis {
    font-size: 0.8em;
}

.axis > path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}


/* tooltips */
.tooltip {
    point-events: none;
}